/* Body styles */
body {
    font-family: 'Roboto', sans-serif; /* Example font, replace with your choice from Google Fonts */
    line-height: 1.6;
    background-color: #f8f9fa; /* Example background color */
}

/* Header styles */
header {
    background-color: #343a40; /* Example header background color */
    color: #ffffff; /* Example header text color */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #ffffff; /* Example link text color */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #5a6268; /* Example link hover background color */
}

/* Main styles */
/*MAIN*/
main h1 {
    margin-left: 38rem;
}
/*GRID*/
.image-grid {
    --gap: 5px;
    --num-cols: 3;
    --row-height: 250px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: 10px;
}
.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Mobile view*/
@media screen and (max-width: 1024px) {
    .image-grid{
        --num-cols: 1;
        --row-height: 200px;
    }
}
figcaption {
    text-align: center;
    font-family: 'Dancing script';
}

/* Footer styles */
footer {
    background-color: rosybrown;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer p {
    margin-bottom: 0.5rem;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
} 
